<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	class="w-100 h-100">

<head>
<meta charset="ISO-8859-1" />
<title>Home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/zone.css">
</head>

<body class="w-100 h-100 p-0 m-0">
	<div class="container-fluid p-0 m-0">
		<h1>List of Zones</h1>
		
		<div class="d-flex justify-content-end">
			<button id="addbutton" class="btn btn-primary mx-2">Add Zone</button>
			<a class="btn btn-primary mx-2" th:href="@{/user/list}">Users</a>
			<a class="btn btn-danger mx-2" th:href="@{/register}">Log out</a>
		</div>

	</div>
	<div class="container-fluid p-3">
		<table id="example" class="table table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>Zone id</th>
					<th>Zone Code</th>
					<th>Zone Name</th>
					<th>Zone Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list: ${zones}">
					<td th:text="${list.id}"></td>
					<td th:text="${list.code}"></td>
					<td th:text="${list.name}"></td>
					<td th:text="${list.description}"></td>
					<td><a class="btn btn-secondary"
						th:href="@{/zone/update/{id}(id=${list.id})}">Update</a> <a
						class="btn btn-danger"
						th:href="@{/zone/delete/{id}(id=${list.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="new-zone" class="new-zone p-0 m-0 row">
		<form th:action="@{/zone/new}" th:object="${zone}"
			class="d-flex flex-column col-3 text-center" method="post">
			<div class="d-flex justify-content-between">
				<span class="fw-bold fs-4 text-dark">New Zone</span> <i
					id="closebutton" class="bi bi-x-circle-fill"></i>
			</div>

			<input type="text" placeholder="Code" name="" th:field="*{code}">
			<input type="text" placeholder="Name" name="" th:field="*{name}">
			<input type="text" placeholder="Description" name=""
				th:field="*{description}">
			<button class="btn btn-primary" type="submit">Create</button>
		</form>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous">
		
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js">
		
	</script>
	<script
		src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js">
		
	</script>
	<script
		src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

	<script
		src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>
	<script>
		$(document).ready(
				function() {
					var table = $('#example').DataTable({
						lengthChange : false,
						buttons : [ 'copy', 'excel', 'pdf']
					});

					table.buttons().container().appendTo(
							'#example_wrapper .col-md-6:eq(0)');
				});
	</script>
	<script src="/script.js"></script>
</body>

</html>